div {
    display: flex;
}
.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 243, 243);
    width: 600px;
    margin: auto;
    gap: 20px;
    padding-bottom: 50px;

}
.container h1{
    color: red;
    font-family: "Happy Monkey";

}
.l1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.d1{
    gap: 10px;
}
.inp1{
    width: 30px;
    border:2px solid red;
    padding-left: 10px;
}
.d2{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.d2 label:hover{
    text-decoration: underline;
}
button{
    background-color: yellow;
    border: 2px solid orange;
    color: orange;
    height: 30px;
    width: 75px;
    border-radius: 15px;
    padding: none;
    margin: 0;
    transition: 0.25s;
}
button:hover{
    cursor: pointer;
    padding:5px;
    box-shadow: 0px 0px 5px black;
    
}
.p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.d2 input{
    margin-right: 5px;

}
.result{
    color: red;
}